html,
body {
  padding: 0;
  margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer {
    width: 414px;
    height: 896px;
}

.upper {
    z-index: 0;
    position: relative;
    left: 212px;
}

.lower {
    z-index: -1;
    position: relative;
    right: 212px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}




/* dont cut me off im talking*/
/* you had a temper tantrum*/
/*i dont understand how you think its fair for you to blow up on me in front of everyone one*/
/*its embarassing as fuck and the only reason why i talked back was because i felt something off during the situation*/
/*which was when you were blowing up all over me*/
/*and i get it i fucked up but that doesnt mean you can just call me the fuck out for everyone to see  just becuase you feel upset*/
/*and honestly i wouldve taken it on the chin and not talked back if you just messaged me privately and camly*/
/* becuase you have before and ill listen. you dont need to talk to me like im a fucking child*/