html,
body {
  padding: 0;
  margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 414px;
    height: 896px;

}

.upper {
    z-index: 0;
}

.lower {
    z-index: -1;
}


.sidebar {
    width: 414px;
    height: 896px;
}