html,
body {
  padding: 0;
  margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 414px;
    height: 896px;
}

.upper {
    z-index: 0;
    position: relative;
    left: 212px;
}

.lower {
    z-index: -1;
    position: relative;
    right: 212px;
}


.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}